<div class="page-notification-container">

  <div class="container_header">
    <img [src]="logo" />
    <span>Ton email et votre numéro de téléphone ne seront jamais utilisés à des fins étrangères ;) </span>
    <span>#ZEROOWORIES</span>
  </div>

  <form [formGroup]="registerForm"  class="container_body">
      <crous-input
          id="nomComplet" 
          type="text"
          label="Nom complet"
          class="form-control"
          placeholder="alice"
          formControlName="fullName"
          [control]="getControl('fullName')"
        /> 
       <crous-input 
        id="email"
        label="email"
        type="email"
        class="form-control"
        placeholder="alice.bob@gmail.com"
        formControlName="email"
        [control]="getControl('email')"
      />
      <crous-input 
        id="Telephone"
        label="Telephone"
        type="Telephone"
        class="form-control"
        placeholder="0763190235"
        formControlName="telephone"
        [control]="getControl('telephone')"
      />

      <crous-select 
        [options]="crousList"
        label= 'Selectionner ton crous'
        [control]="getControl('crous')"
        [required]="false"
        placeholder='Selectionner ton crous'
        name = 'crous'   
        formControlName="crous"
      />
  
     
      <button class='button-submit' type="submit" (click)="handleButtonClick()">
        <span>Suivant</span>
      </button>
  </form>

  <div class="container_footer">
    <img [src]="ensias"/>
    <img [src]="isima"/>
  </div>

</div>